
body {
	margin-left:+5%;
	margin-right:+5%;
	margin-top:+15px;
}

.hero-unit {
	background-image:url('../hero.jpg');
	background-color:#DDDDDD;
	background-attachment:fixed;
	margin-top:-20px;
}

.navbar {
	margin-left:+2%;
	margin-right:+2%;
}

#mockfeat {
	height:700px;
}

.thumbnail {
	text-align:center;
}